<p id="notice"><%= notice %></p>

<h1>Displaying Trainer</h1>
<h2><%=@trainer.pname %></h2>

<table>
  <thead>
    <tr>
      <th>Trainer Name</th>
      <th>Level</th>
      <th>Tokimons</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @trainer.pname %></td>
        <td><%= @trainer.level %></td>
        <td>  <% @theTokimons.each do |tokimon| %>
            <%= tokimon.tname %></br>
        <%end%></td>
      </tr>
  </tbody>
</table>

<div class="aLink"><%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %></div>
